@model DakManSys.Models.MasterModel.BankMasterModel
@{
    ViewBag.Title = "BankMaster";
}
<script src="~/Scripts/jquery-ui-1.10.2.js"></script>
@*<script src="~/Scripts/jquery-ui-1.9.2.js"></script>*@
<link href="~/Content/jQuery%20UI-1.10.3.css" rel="stylesheet" />
<script src="~/Scripts/jtable/jquery.jtable.js"></script>
<link href="~/Scripts/jtable/themes/lightcolor/green/jtable.css" rel="stylesheet" />

<script src="~/Scripts/jquery.validate.js"></script>
<style>
    #BankMaster label.error {
        color: #b94a48;
    }
   
   
    .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.mk {
    margin: -10% 0 2% 20%;
}




    #BankMaster select.error {
        border: 1px solid #b94a48;
    }

    #BankMaster input.error {
        border: 1px solid #b94a48;
    }
    .validation-summary-errors {
        color: #b94a48;
    }

    .validation-summary-valid {
        display: none;
    }

</style>
<script>
    $(document).ready(function () {
        $("#BankMaster").validate();

        $("#bank").rules("add", { required: true, messages: { required: "Enter Bank Name" } });

        $("#deleteMaster").jtable({
            paging: true,
            pageSize: 10,
            sorting: true, //Enable sorting
            defaultSorting: 'BankName ASC',
            selecting: true, //Enable selecting
            selectingCheckboxes: true, //Show checkboxes on first column
            multiselect: true,
            //selectOnRowClick: false, //Enable this to only select using checkboxes
            actions: {
                listAction: '/Master/BankDetails',
                deleteAction: '/Master/BankDelete'
            },
            fields: {
                BankCode: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                BankName: {
                    title: 'Bank Name',
                    width: '12%'
                }
            },

        });

        $('#deleteMaster').jtable('load');
        $("#DeleteAllButton").on('click', function () {

            if (confirm("These Selected records will be deleted. Are you sure??")) {
                var $selectedRows = $('#deleteMaster').jtable('selectedRows');
                $('#deleteMaster').jtable('deleteRows', $selectedRows);
            }
            return false;
           

        });
    });

</script>
@using (Html.BeginForm("BankMaster", "Master", FormMethod.Post, new { @id="BankMaster"}))
{ 
<div id="page-content" style="min-height: 378px;">
    <div class="content-header">
        <div class="header-section">
            <div class="row">
                <div class="col-md-5 col-lg-6 hidden-sm">
                    <h1>Bank Master</h1>
                </div>
            </div>
        </div>

    </div>

    <div id="fa_awq434">
        <div class="panel-body">
            <div class="form-group">
                <div class="row">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label">Bank Name</label>
                            
                            <div class="col-sm-2">
                                @*<input type="text" class="form-control hasDatepicker" id="startdate">*@
                                @Html.TextBoxFor(x => x.BankName, new { @class = "form-control",@id="bank" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-6">
                                <input type="submit" value="Submit"  class="btn btn-primary"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        </div>
    <div  align="center" style="margin:0% 0% 8% 20%;min-width: 150px; max-width: 500px;" id="deleteMaster">

        
    </div>
  <div >
      <button id="DeleteAllButton" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only mk" role="button" aria-disabled="false">
          <span class="ui-button-text">
              Delete all selected records
          </span>
      </button>

  </div>
    </div>
}